<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips de coctelería</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagen/icono.png" type="imagen/png">
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" >Clasificación de los cócteles</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="../views/recetas.html">Recetas</a>
                    <a class="nav-link" href="../views/tips.html">Tips de coctelería</a>
                    <a class="nav-link" href="../views/contacto.html">Aprendé con nosotros</a>
                </div>
            </div>
        </div>
    </nav>
    
    <!--HEADER-->
    <header>
        <div>
        <h1 class="letraHeader">Cómo en un bar, pero hecho en casa</h1>
        <p class="letraHeader">Tus cocteles favoritos preparados por vos</p>
        </div>
    </header>
    
    <main>
        <div><class class="contenedor">
            <div class="cont1">
                <img src="../imagen/icono3.png" alt="">
            </div>
            <div class="cont2"><h2>CLASIFICACIÓN DE LOS CÓCTELES</h2>
                <br>
                <p>Todo cóctel debe tener:
                    <ul>
                        <li>Presentación</li>
                        <li>Equilibrio</li>
                        <li>Aroma</li>
                        <li>Buen sabor</li>
                    </ul>
                </p>
                <p>Existen diversas categorizaciones dentro del mundo de la coctelería. Las más habituales hacen referencia a la función de los combinados, sus ingredientes, su medida o tamaño y la temperatura a la que se preparan y sirven. Aquí te mostramos algunas de las clasificaciones existentes.</p>
            </div>
            <div class="cont1"><img src="../imagen/icono3.png" alt="">
            </div>
        </div>
            
        <!--ACORDEÓN-->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caract1" aria-expanded="false" aria-controls="caract1">
                        Según su medida y tamaño
                    </button>
                </h2>
                <div id="caract1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Long drinks (bebidas largas): son los cócteles que se sirven en vaso largo y se suelen preparar con jugos de frutas, bebidas espumosas, aguas carbonatadas y hielo. La lista es interminable: gin tonic, piña colada, mojito…</li>
                            <li>Short drinks (bebidas cortas): cócteles que se sirven en copa o vaso pequeño. Se suelen servir fríos, con hielo. Ejemplo: old fashioned, negroni, daiquiri…</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caract2" aria-expanded="false" aria-controls="caract2">
                        Según su temperatura
                    </button>
                </h2>
                <div id="caract2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Hot drinks: bebidas calientes que se preparan y sirven en la misma copa, normalmente se utilizan para combatir el frío, y que pueden ser short o long drinks. Ejemplo: el grog.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caract3" aria-expanded="false" aria-controls="caract3">
                        Según sus ingredientes y características
                    </button>
                </h2>
                <div id="caract3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Collins: este tipo de long drinks son bebidas de carácter refrescante que se sirven a cualquier hora del día. Se preparan directamente en un vaso largo tipo Collins, con hielo y decorados con una rodaja de limón. Sus ingredientes típicos son azúcar, jugo de limón y el destilado elegido, alargado con soda. El más conocido es el Tom Collins.</li>
                            <li>Cobblers: bedida refrescante y decorativa, decorada con frutas frescas de temporada, servida normalmente en vaso largo con hielo picado. Ingredientes: frutas, agua gasificada, destilado, vino, hielo picado y azúcar.
                            </li>
                            <li>Coolers: son long drinks que se preparan en coctelera, a base de un licor o destilado, bebida carbonatada (como Ginger Ale, sidra o champán), azúcar y rodajas de naranja o limón.</li>
                            <li>Cups: los clásicos cócteles de las reuniones sociales que se preparan en una ponchera y que los comensales se sirven a cazos. Suelen llevar como base un vino espumoso, aparte de hielo, azúcar, trozos de fruta fresca, agua carbonatada y, con carácter opcional, un licor.</li>
                            <li>Crustas: zumo de limón y azúcar con un destilado, con un toque amargo, una piel de limón que decora y el borde de la copa escanciada.</li>
                            <li>Daisies: cócteles refrescantes, de consumo eminentemente estival. Combinaciones de soda, zumo de limón, triple seco, granadina y la bebida destilada escogida. No se suelen servir en vaso largo.</li>
                            <li>Fizz: cócteles refrescantes muy parecidos a los Collins en ingredientes aunque estos se mezclan en coctelera, no se decoran y se sirven en vasos más pequeños, son tragos medianos. Por ejemplo, para un gin fizz mezclamos ginebra, zumo de limón, toque de azúcar y un poco de soda. Añadir clara (silver fizz) o yema de huevo (golden fizz).</li>
                            <li>Grog: bebidas estimulantes a base de aguardientes de fuerte graduación. Se sirven muy calientes.</li>
                            <li>Flips: se preparan con vino de Jerez u Oporto, azúcar y yema de huevo, de origen anglosajón, con un toque de nuez moscada, más de 100 años de historia y muy de actualidad.</li>
                            <li>Juleps: long drink al estilo americano. Preparaciones que mezclan un destilado (normalmente, whisky o bourbon), menta fresca, hielo picado, azúcar y todo glaseado alrededor.</li>                                
                            <li>Sours: son tragos cortos compuestos por una parte de azúcar o jarabe de azúcar, otra de zumo de limón y dos del destilado escogido. Toque ácido compensado. Los más conocidos son el whisky sour y el pisco sour.</li>
                            <li>Highballs: cócteles preparados en vaso largo con hielos de gran tamaño.</li>
                            <li>Slings: cóctel largo de origen asiático, llevan soda, un destilado y zumo de limón, con un toque de Cherry brandy opcional. Se preparan en coctelera.</li>
                            <li>Smash: fruta fresca triturada, aguardiente y hielo picado.</li>
                            <li>Mules: se componen de ginebra o vodka, zumo de lima o de limón, que podemos alargar con Ginger Ale. Se sirve en taza metálica. Moscow mule es el más conocido.</li>
                            <li>Spritz: muy de moda en los últimos años. Es un cóctel clásico de vino espumoso, al que se añade Aperol u otro bitter, junto al hielo y un toque de piel de naranja.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caract4" aria-expanded="false" aria-controls="caract4">
                        Según su función
                    </button>
                </h2>
                <div id="caract4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Aperitivos: son tragos cortos, con sabor normalmente seco y alta graduación.</li>
                            <li>Digestivos: se sirven en pequeñas cantidades, con graduación alta y sabor generalmente dulce. Pueden ser licores cremosos o acompañarse con hierbas como la menta, que facilita la digestión.</li>
                            <li>Refrescantes: se utilizan para calmar la sed. Son tragos largos y menos cargados de alcohol.</li>
                            <li>Estimulantes: los que se utilizan para incrementar los niveles de atención. Suelen servirse calientes y muy especiados.</li>
                            <li>Reconstituyentes: los que incluyen componentes nutritivos, como frutas, huevos, leche o chocolate.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caract5" aria-expanded="false" aria-controls="caract5">
                        Según el tipo de preparación
                    </button>
                </h2>
                <div id="caract5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Directos: los que se sirven directamente en vaso o copa.</li>
                            <li>Batidos: los que se mezclan a mano o de forma industrial para lograr una textura homogénea.</li>
                            <li>Flameados: aquellos a los que después de su preparación se les prende fuego, que quema el exceso de alcohol y logra así que se suavice el sabor.</li>
                            <li>Refrescados: son los cócteles en los que el hielo tiene un papel principal.</li>
                            <li>Frozzen: combinados en los que interviene la licuadora, hielo picado, frutas y azúcar, de aspecto similar a un granizado.</li>
                            <li>Macerados: los que utilizan para su preparación algún ingrediente triturado, como es el caso de la menta para el mojito.</li>
                        </ul>                        
                    </div>
                </div>
            </div>
    </class>
</div>
    </main>

    <!--FOOTER-->
    <footer>
        <p>&copy; Morel Ivanna  email: ivannamorel_15@hotmail.com</p>
        <br>
        <p>Proyecto final -  Potrero Digital 2023</p>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
