<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Tips de coctelería</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../css/style.css" type="imagen/png">
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" >Tipos de cristalería</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                </div>
            </div>
        </div>
    </nav>
    
    <!--HEADER-->
    <header>
        <div>
        <h1 class="letraHeader">CÓMO EN UN BAR, PERO HECHO EN CASA</h1>
        <p class="letraHeader">Tus cocteles favoritos preparados por vos</p>
        </div>
    </header>

    <div class="cristales">
        <div class="card-group">
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/c6/f1/c6f14ead-27cd-4850-ab25-182638eaeafc/copa-martini-.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Copa Martini</h5>
                    <p class="card-text">La copa cóctel o copa martini es el tipo de cristalería para coctelería que se utiliza para elaborar cócteles como el martini, manhattan, daiquiri, y otros que se sirven muy fríos. ¿Ya la reconociste? Seguro que sí. 
                    Además, está diseñada para bebidas que no requieren hielo, por lo que la mezcla debe ser enfriada previamente con la ayuda de un shaker. Por otro lado, debes tener en cuenta que este tipo de copas para bebidas tienen una capacidad aproximada de 150 a 200 ml. </p>
                </div>
            </div>
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/6c/ec/6ceca450-35a5-4f2f-8e3d-2d264c66ba0a/copa-margarita.jpg?auto=format&q=50" class="card-img-top" alt="img copa">
                <div class="card-body">
                    <h5 class="card-title">Copa Margarita</h5>
                    <p class="card-text">Como bien lo dice su nombre, esta cristalería para cócteles se utiliza para servir el cóctel margarita. Pero también se puede emplear para otros cócteles, como el Daiquiri. 
                    Según el portal de OTC GROUP, puedes decorar tu cócteles con diversas frutas, hielos de frutos congelados, especias, flores y, como es típico de la margarita,  puedes endulzar el borde de este tipo de cristalería para coctelería.</p>
                </div>
            </div>
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/4e/24/4e247b00-0164-4fd3-9461-f9cc88bb5a14/vaso-tumbler.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vaso highball o tumbler</h5>
                    <p class="card-text">Probablemente es uno los vasos para coctelería más utilizados en los bares, ya que su estructura es alta y estrecha, lo que lo hace ideal para tragos largos que requieren mucho hielo, como el cuba libre o el chilcano.
                    Usualmente, estos vasos para trago tienen una capacidad de 300 ml, pero esta medida puede variar. </p>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/c6/f1/c6f14ead-27cd-4850-ab25-182638eaeafc/copa-martini-.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Copa Martini</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/53/3c/533c69d5-6498-4e00-8a37-7207069719ac/vaso-oldfashioned-.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vaso old fashioned</h5>
                    <p class="card-text">También es conocido como rock glass por su uso para el cóctel “on the rocks”. Esta cristalería para coctelería es ideal para servir whiskey, bourbon y diferentes tragos que requieren gran cantidad de hielo. 
                    En cuanto a su estructura, este vaso para la coctelería es corto y ancho. Además, suele ser pesado y de material resistente. Su capacidad se encuentra alrededor de los 250 ml.
                    Es, definitivamente, unos de los vasos para tragos más clásicos y elegantes de la historia.</p>
                </div>
            </div>
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/69/77/6977296d-c685-4dc1-ba25-3c3afd42c46d/copa-pompadour-champagne.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Copa champagne o pompadour</h5>
                    <p class="card-text">Siempre hay razones para celebrar. Por ello, la copa champagne es el tipo de cristalería y utensilios de bar que no deben faltar en tu casa. La copa pompadour también se utiliza para servir cócteles como daiquiris y otros tragos con hielo molido. 
                    Este tipo de copa se caracteriza por tener un diámetro grande y abierto, lo que permite beber con mayor rapidez. Además, al ser ligeramente cerrada por los bordes, se evita que se derrame el contenido ante cualquier movimiento.
                    La capacidad de este tipo de cristalería para coctelería gira en torno de los 150 a 200 ml.</p>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/7b/04/7b04770a-38e9-4743-a8c3-de3d9ee3b1fc/copa-hurricane.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Copa Huracan</h5>
                    <p class="card-text"> La copa hurricane cuenta con una base ancha y un cuello corto y redondo. 
                    Es un vaso de trago amplio con una capacidad de alrededor de 400 ml. Es muy recomendado para cócteles de frutas, que requieren una decoración más elaborada.</p>
                </div>
            </div>
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/54/7f/547f956b-1c93-44fb-860a-f4ad5dcfe1bb/copa-flauta.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Copa flauta</h5>
                    <p class="card-text">Este tipo de copa se usa también para servir el champagne, ya que su forma evita la pérdida rápida del gas. Además, es perfecta para cavas y espumosos. Su capacidad es similar a la copa champagne, entre 150 a 200 ml.
                    Es uno de los tipos de copas y vasos para bar que no deben faltar en casa</p>
                </div>
            </div>
            <div class="card-cristales">
                <img class="img-thumbnail" src="https://crehana-blog.imgix.net/media/filer_public/14/33/1433db4f-9d0b-4e7b-b3ed-b5891bf8a806/vaso-shot.jpg?auto=format&q=50" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vaso de shot</h5>
                    <p class="card-text">Este tipo de vaso para trago, también llamado “caballito”, es ideal para pequeñas cantidades de licor, por lo que suele tomarse su contenido en un solo trago. Se utiliza popularmente para beber tequila.</p>
                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer>
        <p>&copy; Morel Ivanna. Proyecto final -  Potrero Digital 2023</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>