<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips de coctelería</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagen/icono.png" type="imagen/png">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" >Recetas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="../views/clasifacacion.html">Clasificación de los cócteles</a>
                    <a class="nav-link" href="../views/tips.html">Tips de coctelería</a>
                    <a class="nav-link" href="../views/contacto.html">Aprende con nosotros</a>
                </div>
            </div>
        </div>
    </nav>
    
    <!--HEADER-->
    <header>
        <div>
        <h1 class="letraHeader">Cómo en un bar, pero hecho en casa</h1>
        <p class="letraHeader">Tus cocteles favoritos preparados por vos</p>
        </div>
    </header>
    
    <main>
    <!--CARRUSEL--> <!--CARD DENTRO DEL CARRUSEL-->
    <div id="carousel" class="carousel slide mx-auto col-sm-12 col-md-8 col-lg-8 col-xl-8 py-8 px-8">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="card ">
                    <img class="imgCarrusel" src="../imagen/cubaLibre.jpg"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cuba libre</h5>
                        <ul>
                            <li>2 oz de Ron dorado</li>
                            <li>Coca cola(completar)</li>
                            <li>1/2 oz de limón o media rdaja</li>
                        </ul>
                        <p class="letras-receta">Decoración: rodaja de limón.</p>
                        <p class="letras-receta">Cristalería: long drink, higball.</p>
                        <p class="letras-receta">Método: directo.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card ">
                    <img class="imgCarrusel" src="../imagen/negroni.jpg"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Negroni</h5>
                        <ul>
                            <li>1 oz de Gin</li>
                            <li>1 oz de Campari</li>
                            <li>1 oz de Vermout rosso</li>
                        </ul>
                        <p class="letras-receta">Decoración: naranja.</p>
                        <p class="letras-receta">Cristalería: trago corto.</p>
                        <p class="letras-receta">Método: refrescado y doble colado.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="card ">
                    <img class="imgCarrusel" src="../imagen/margarita.jpg"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Margarita</h5>
                        <ul>
                            <li>2 oz de Tequila blanco</li>
                            <li>3/4 oz de Triple sec</li>
                            <li>1/2 oz de Jugo de limón</li>
                            <li>1/2 oz de Jarabe de goma(opcional)</li>
                        </ul>
                        <p class="letras-receta">Decoración: crusta de sal y rodaja de limón.</p>
                        <p class="letras-receta">Cristalería: copa margarita o copa coctel.</p>
                        <p class="letras-receta">Método: batido y colado.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card ">
                    <img class="imgCarrusel" src="../imagen/mojito.jpg"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mojito</h5>
                        <ul>
                            <li>2 oz de Ron blanco</li>
                            <li>1/2 oz de almibar o 2 cds de azucar</li>
                            <li>3/4 oz de Jugo de limón o 4 trozos de limón</li>
                            <li>12 Hojas de menta/ hierva buena</li>
                            <li>Completar con agua con gas</li>
                        </ul>
                        <p class="letras-receta">Decoración: rodaja de limón y menta.</p>
                        <p class="letras-receta">Cristalería: trago corto.</p>
                        <p class="letras-receta">Método: machado y directo.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card ">
                    <img class="imgCarrusel" src="../imagen/tequilaSunrise.jpg"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tequila Sunrise</h5>
                        <ul>
                            <li>2 oz de Tequila</li>
                            <li>Jugo de naranja (completar)</li>
                            <li>1 oz de Granadina</li>
                        </ul>
                        <p class="letras-receta">Decoración: rodaja de naranja; opcional cereza.</p>
                        <p class="letras-receta">Cristalería: long drink, higball.</p>
                        <p class="letras-receta">Método: directo.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--FORMULARIO-->
    <form class=" mx-auto col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4 px-4">
        <select class="form-select" >
            <option selected>¿Te gustaría ver más cócteles?</option>
            <option value="1">SI</option>
            <option value="2">NO</option>
        </select>
        <div class="mb-3">
            <label class="fw-bold"for="mensaje">Coméntanos cuál te gustaría aprender</label>
            <textarea class="form-control" id="descripcion" rows="3"></textarea>
        </div>
        <div class="d-grid gap-2">
            <button class="boton-enviar btn btn-primary">Enviar</button>
            <button class="boton-limpiar btn btn-secondary">Limpiar</button>
        </div>
    </form>
    </main>
    
    
    <!--FOOTER-->
    <footer>
        <p>&copy; Morel Ivanna. Proyecto final -  Potrero Digital 2023</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>