<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Tips de coctelería</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagen/icono.png" type="imagen/png">
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" >Tips de coctelería</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="../views/clasifacacion.html">Clasificación de los cócteles</a>
                    <a class="nav-link" href="../views/recetas.html">Recetas</a>
                    <a class="nav-link" href="../views/contacto.html">Aprendé con nosotros</a>
                </div>
            </div>
        </div>
    </nav>
    
    <!--HEADER-->
    <header>
        <div>
        <h1 class="letraHeader">CÓMO EN UN BAR, PERO HECHO EN CASA</h1>
        <p class="letraHeader">Tus cocteles favoritos preparados por vos</p>
        </div>
    </header>

    <section class="principal">
        <aside class="tips">
            <h4>Videos explicativos</h4>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Elementos
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <iframe class="img-iframe"  src="https://www.youtube.com/embed/3Evw-t8rXQI" title="Tips y técnicas en Coctelería" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>Elementos para la prpearación</iframe>
                            <iframe class="img-iframe" src="https://www.youtube.com/embed/acqAsVBWaPI" title="CRISTALERIA / GLASSWARE / VASOS Y COPAS / BARTENDER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>Cristaleria
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Cócteles clásicos
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <iframe class="img-iframe" src="https://www.youtube.com/embed/kYJsXAaNAo4" title="🍸 Cocktail Daiquiri #short UN GRAN CLASICO 💚" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <iframe class="img-iframe" src="https://www.youtube.com/embed/FR3PrsYMlaA" title="CAIPIRINHA / COCKTAIL BRASIL 🇧🇷 / TUTORIAL BARTENDER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <iframe class="img-iframe" src="https://www.youtube.com/embed/uv5LdroLWxg" title="🥃 Cocktail Negroni 🇮🇹 #shorts MARAVIGLIOSO!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <iframe class="img-iframe" src="https://www.youtube.com/embed/qeTCPvcUFMI" title="Cocktail Dry Martini 🍸 #shorts REMOVIDO o AGITADO? 🧐" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <main class="tips2">
            <h1>Tips básicos de coctelería</h1>
            <h3>Usar licores e ingredientes de calidad</h3>
            <p>Sin duda, como en cualquier receta, bien sea gastronómica como coctelera, apostar por ingredientes de calidad siempre deberá ser la principal preocupación.
            Para ello, si vamos a usar licores o destilados, debemos buscar que estos cumplan unas condiciones de calidad que nos aseguren un resultado de 10. Lo mismo ocurrirá con los mixers: no podemos elegir cualquiera, ya que el resultado no será nunca igual si apostamos por una tónica premium, por ejemplo, que por una que no lo es.
            Si además vamos a usar otros ingredientes: frutas, hierbas aromáticas, etc. Es importante que sean productos frescos que nos aseguren un buen resultado.
            </p>
            <h3>El hielo no es un complemento, ¡es un ingrediente más!</h3>
            <p>Esto es algo muy importante que no debemos pasar por alto. La calidad del hielo, su tamaño e, incluso, su tamaño, son fundamentales para que nuestro cóctel salga tal y como deseamos.</p>
            <h3>Usar medidor y cuchara imperial como imprescindibles</h3>
            <p>Se trata de dos de los utensilios básicos que no pueden faltar en nuestras recetas, sea cual sea la misma. El medidor, sobre todo, nos permitirá poder incluir las cantidades exactas de cada líquido y permitirnos así el sabor deseado. La cuchara imperial, por su forma y condición, es la que nos permitirá remover e integrar con exactitud los ingredientes e, incluso, nos servirá para incluirlos. En el caso de la tónica, por ejemplo, nos permite deslizarla sin romper su burbuja.</p>
            <h3>Adaptar el coctel a la época y contexto</h3>
            <p>Otro de los puntos a tener en cuenta es: dónde, cuándo y por qué. Si queremos conseguir un coctel exitoso, es importante que sepamos adaptarlo al entorno. Tanto en sus ingredientes y colores, como en su temática. No será lo mismo preparar un cóctel en pleno verano que en plena Navidad: ni sus colores, ni sus sabores, serán los mismos en cualquiera de estos momentos. ¡Hay que tenerlo en cuenta siempre!</p>
            <h3>Buscar una experiencia cinco sentidos</h3>
            <p>Debemos tener en cuenta que nuestra creación cumpla con las expectativas y consigamos encender todos los sentidos. Los colores, los sabores, la textura, los aromas… Todos estos puntos juegan un papel fundamental para que nuestro coctel conquiste de principio a fin, ¡hay que buscar el equilibrio de todos ellos y el resultado será increíble!</p>
        </main>
    </section>

    <section class="secundario">
        <div>
            <h1>Errores más comunes</h1>
            <h3> Usar poco hielo</h3>
            <p>Si usamos poco hielo, el cocktail se va a llenar de agua mucho más rápido y, de este modo, se pierden los sabores. </p>
            <h3>No limpiar bien los utensilios como cocteleras o cucharas</h3>
            <p>Los restos que quedan pueden alterar el sabor del cocktail además de ser incómodo trabajar con utensilios en este estado.</h3>
        </div>
        <div>
            <h3>No usar medidas</h3>
            <p>Así como no hornearías un pastel sin usar las medidas de los ingredientes, no prepares cocteles sin utilizar las medidas. Aunque no tengas un medidor profesional, utiliza un reemplazo, de esta forma tu trago será balanceado.</p>
            <h3> No probar lo que hacemos</h3>
            <p>Básicamente, es creer que el cocktail está perfecto como lo hicimos. Lo que sucede en estos casos es que cuando pruebes, te des cuenta de que quizás olvidaste algún ingrediente. </p>
            <h3>Batir bebidas carbonatadas</h3>
            <p>No queremos un cocktail explosivo. ¡Más de un bartender batió una cocktail con gaseosa!</p>
        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <p>&copy; Morel Ivanna. Proyecto final -  Potrero Digital 2023</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>